@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

.palmTreePic {
    margin: 100px;
    height: 280px;
    width: 190px;
}

.katieTitle {
    color: #4361ee;
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
}